    <div class="blog-header clear">
        <article class="wrapper">
            <div class="blog-site-title">
                <h1>@Model.ContentItem.Content.TitlePart.Title</h1>
            </div>

            <div class="breadcrums">
                <a title="Home" href="/" class="main-home"><span property="name">Home</span></a> &gt; 
                <span property="name">@Model.ContentItem.Content.TitlePart.Title</span>
            </div>

        </article>
    </div>
