<nav class="navigation clear">
    <input type="checkbox" id="masonic-toggle" name="masonic-toggle">
    <label for="masonic-toggle" id="masonic-toggle-label" class="fa fa-navicon fa-2x"></label>
    <div class="wrapper clear" id="masonic">
        <menu alias="alias:main-menu" cache-id="main-menu" cache-duration="00:05:00" cache-tag="alias:main-menu" />
        <div id="sb-search" class="sb-search">
            <span class="sb-icon-search"><i class="fa fa-search"></i></span>
        </div>
    </div>
    <div id="sb-search-res" class="sb-search-res">
        <span class="sb-icon-search"><i class="fa fa-search"></i></span>
    </div>
</nav>

