@using Microsoft.AspNetCore.Routing

@{
    var RouteValues = (object)((dynamic)Model).RouteValues;
    RouteValueDictionary rvd;

    if (RouteValues == null)
    {
        rvd = new RouteValueDictionary();
    }
    else
    {
        rvd = RouteValues as RouteValueDictionary ?? new RouteValueDictionary(RouteValues);
    }

    var route = Url.Action(rvd["action"].ToString(), rvd["controller"].ToString(), rvd as RouteValueDictionary);
}
<div class="nav-next"><a href="@route">@Model.Value <span><i class="fa fa-arrow-circle-o-right"></i></span></a></div>