<form asp-action="Index" asp-controller="Search" asp-area="Lucene" class="searchform clear" method="get">
    <div class="masonic-search">
        <label class="screen-reader-text">@T["Search for:"]</label>
        <input type="text" value="" name="q" placeholder="@T["Type and hit enter..."]">
    </div>
</form>