<div class="header-image">
    <figure>
        <img src="@Model.ContentItem.Content.Spotlight.SpotlightImageUrl.Text" width="1350" height="500" alt="">
        <div class="angled-background"></div>
    </figure>
</div>  