:root {
    --mainColor: green;
    --highlightColor: hwb(10, 35%, 20%);
}

:host {
    margin-top: 50px;
    display: block;
}

.newsletter {

    &__email 
    {
        display: block;
        float: left;
        height: 35px;
        width: 215px;
    }

    &__btn
    {
        display: block;
        float: left;
        height: 35px;
        width: 150px;
        color: var(--mainColor);
    }

    &__message 
    {
        color: var(--highlightColor);
    }
}